<!DOCTYPE html>
<html>
<head>
	<title>Welcome Young Ninja</title>
</head>
  <style>
    .flashes {color: green;}
  </style>
<body>
    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <p class="flashes">{{message}}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
	<h1>Welcome to the Coding Dojo!</h1><br>
	<p>Hi {{first_name}}</p><br>
	<form  action="{% url 'login:logout' %}">
        {% csrf_token%}
		<button type="submit">Log Out</button>
	</form>
</body>
</html>